<div #container class="branch-container" [@fadeAnimation]>
  <div class="branch" align="center">
    เลือกสาขา
  </div>
  <div class="img-container">
    <div class="img" *ngFor="let branch of getBranchList()" (click)="branchSelected(branchList[branch].route)">
      <div class="sign">
        <div class="sign-content">
          <img width="180" height="150" [src]="branchList[branch].imgSrc">
        </div>
      </div>
      <div class="title" align="center">
        {{ branchList[branch].title }}
      </div>
    </div>
  </div>
</div>