.InputAddOn {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.group {
  width: 250px;
  position: relative;
  margin: 0 auto;
}

.icon {
  font-size: 15px;
}

.branch-select {
  font-size: 28px;
}

.dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 9px);
}

.input {
  border-radius: 0 10px 10px 0;
}

.button.search {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 0;
  right:-20px;
}