<div class="group" align="center">
  <span class="branch-select">เลือกสาขา</span> 
  <br><br>
  <button class="button is-info" (click)="toggle()" >{{ searchFrom }} <span class="icon">▼</span></button>
  <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': dropdownToggle }" (click)="toggle()">
    <div class="dropdown-item" (click)="dropdownSelected('content')">Web Content</div>
    <div class="dropdown-item" (click)="dropdownSelected('design')">Web Design</div>
    <div class="dropdown-item" (click)="dropdownSelected('marketing')">Web Marketing</div>
    <div class="dropdown-item" (click)="dropdownSelected('programming')">Web Programming</div>
    <div class="dropdown-item" (click)="dropdownSelected('all')">ทั้งหมด</div>
  </div>
</div>
<br><br>
<div class="InputAddOn">
  <form (submit)="search(text.value)" onsubmit="return false">
    <input id="searchBox" #text class="input" placeholder="ค้นหา ชื่อ-นามสกุล">
    <button class="button is-info search">ค้นหา</button>
  </form>
</div>