/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Mitr');

body {
  margin: 0;
  padding: 0;
  font-family: 'Mitr', sans-serif !important;
}

@keyframes slide-down {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes fade {
  0%   {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.fade {
  -webkit-animation: slide-down .6s;
  animation: slide-down .6s;
}

.slide-down {
  position: relative;
  -webkit-animation: slide-down 1s;
  animation: slide-down 1s;
}